// header 
#head{
    width: 1000px;
    .a_logo {
        float: left;
        margin-top: 20px;
    }
    .h_right{
      float: right;
      margin-top: 20px;
      ul {
          position: relative;
          a {
            font-size: 12px;
          }
          li{
              float: left;
              padding: 0 8px;
              height: 32px;
              // vertical-align: middle;
              line-height: 32px;
              text-align: center;
              &:first-child {
                width: 145px;
                border: none;
              }
          }
          .li_grey{
              width: 80px;
              .li_mark{
                z-index: 1;
                display: none;
                p{
                  width: 80px;
                  text-align: center;
                  font-size: 12px;
                  border-top: 1px solid #8e8e8e;
                  margin-left: -8px;
                  background-color: #efefef;
                  // display: none;
                }
              }
            }
      }
  }
}

.main_box{
    margin-top: 20px;
    border-top: 3px solid black;
    padding-top: 20px;
    .main{
      width: 1000px;
      height: 700px;
      .warn{
        background-color: #efefef;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        text-align: center;
        .warn_red{
        font-size: 12px;
        color: red;
        }
      }
      .main_big{
        margin-top:100px;
        height: 500px;
        .main_big_left{
          width: 50%;
          margin-top: 10%;
          float: left;
          text-align: center;
        }
        .main_big_right{
          float: right;
          width: 50%;
          border-left: 1px solid #666;
          color: #b9b9b9;
          font-size: 13px;
          input{
            display: inline-block;
            width: 270px;
            height: 43px;
            border: 1px solid #dbdbdb;
            color: #9a9a9a;
            text-indent: 10px;
            font-size: 16px;
            line-height: 1.2;
            margin: 10px 0;
          }
          a{
            font-size: 12px;
            color: #ff1901;
            text-decoration: underline;
          }
          ul{
            margin-left: 110px;
            width: 268px;
            li{
              margin: 10px;
              .inp1{
                width: 142px;
              }
              .inp1,.inp2{
                display: inline-block;
                height: 43px;
              }
              .inp2{
                width: 100px;
                font-size: 12px;
              }
              .log_sub,.inp2{
                background-color: #ff1901;;
              }
              p{
                font-size: 13px;
                color: #9a9a9a;
              }
            }
            select{
              width: 110px;
              height: 30px;
              text-align: center;
              line-height: 30px;
            }
            & li:nth-child(2){
              span{
                display: inline-block;
                width: 58px;
                height: 41px;
                border: 1px solid grey;
                text-align: center;
                line-height: 41px;
              }
              input{
                width: 185px;
                height: 43px;
              }
            }
          }
          .reg{
            position: relative;
            .res_sub{
              background-color: #555;
              color: white;
              font-size: 20px;
              margin-left: 120px;
              display: inline-block;
              
            }
            b{
              display: inline-block;
              width: 40px;
              height: 40px;
              background: url('../img/sprite.passport.png') no-repeat -446px -101px;
              position: absolute;
              left: 400px;
              top: 12px;
            }
            .reg_mark{
              width: 150px;
              height: 180px;
              background-color: #efefef;
              position: absolute;
              left: 450px;
              top: -20px;
              text-align: center;
              font-size: 14px;
              display: none;
              img{
                margin-top: 20px;
                margin-bottom: 10px;
              }
            }
          }
          
          .log_txt{
            p{
            margin-left: 150px;
            color: #9a9a9a;
            font-size: 13px;
            }
          }
        }
      }
    }
}
